<div class="container-fluid">
    <br>
    <div class="container col-lg-8 mx-auto background-white rounded mb-5">
        <br>
        <a href="/appointmentBooking/{{userinfo.id}}" type="button" class="rounded btn-lg btn-primary float-right">Create Appointment</a>
        <P>
            Filler text
        </P>
        <br>
    </div>

    <div class="container col-lg-8 mx-auto background-white rounded mb-5">
        <br>
        <div class="row">
            <div class="col-1 border-right">
                <img src="..." alt="..." class="img-thumbnail">
            </div>
            <div class="col">
                28/04/2019 (Tuesday) <br>
                01:40 PM
            </div>
        </div>
        <hr class="my-4">
        <p>
            Singapore General Hospital<br>
            Department of Something<br>
            Clinic A
        </p>
        <div class="input-group">
            <button type="button" class="rounded btn-secondary btn-lg form-control mr-3">Cancel Appointment</button>
            <button type="button" class="rounded btn-info btn-lg form-control">Reschedule Appointment</button>
        </div>
        <br>
    </div>
</div>