<div class="container-fluid text-center">
	<div class="container col-lg-10 mt-5">
		<div class="row">
			<div class="col-lg-7">
				<div class="card bg-primary border rounded shadow-lg ">
					<img id="indexImageHover" src="image/index/medified.png" class="img-height-600">
				</div>
			</div>
			<div class="col-lg-5">
				<div class="card h-25">
					<div onmouseover="indexHoverChange('Patient')" class="card-body shadow">
						<h4>Patients</h4><br>
						<p>
							Discover advice relevent to individuals seeking treatment
						</p>
						
					</div>
				</div>
				<div class="card h-25">
					<div onmouseover="indexHoverChange('Visitors')" class="card-body shadow">
						<h4>Visitors</h4><br>
						<p>
							Get information about visiting medicare facility patients
						</p>

					</div>
				</div>
				<div class="card h-25">
					<div onmouseover="indexHoverChange('Healthcare Professionals')" class="card-body shadow">
						<h4>Healthcare Professionals</h4><br>
						<p>
							Find out what we have in store for medical practitioners
						</p>
					</div>
				</div>
				<div class="card h-25">
					<div onmouseover="indexHoverChange('Community Partners')" class="card-body shadow">
						<h4>Community Partners</h4><br>
						<p>
							Learn how medified brings medical care to the community
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Our OOADP Project test links</p>
		<p>billPayment: <a href="/bill/billPayment" class="card-link"> link</a></p>
		<p>billList: <a href="/bill/billList" class="card-link"> link</a></p>
		<p>creditcard: <a href="/bill/creditcard" class="card-link"> link</a></p>
		<p>debitcard: <a href="/bill/debitcard" class="card-link"> link</a></p>
		<p>queueNumber: <a href="/queue/queueNumber" class="card-link"> link</a></p>
		<p>queueUpdate: <a href="/queue/queueUpdate" class="card-link"> link</a></p>
		<p>doctorConsultation: <a href="doc_consult/doctorConsultation" class="card-link"> link</a></p>
		<p>collection: <a href="/collection" class="card-link"> link</a></p>
		<p>symptom: <a href="/symptom/symptom" class="card-link"> link</a></p>
		<p>symptomanswer: <a href="/symptomanswer" class="card-link"> link</a></p>
		<p>symptomInsert: <a href="/symptom/symptomInsert" class="card-link"> link</a></p>
		<p>symptomRecording: <a href="/symptom/symptomRecording" class="card-link"> link</a></p>
		<p>patientinformation: <a href="/patientinformation" class="card-link"> link</a></p>
	</div>
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Our OOADP Project links</p>
		<p>billPayment: <a href="/bill/billPayment" class="card-link"> link</a></p>
		<p>billList: <a href="/bill/billList" class="card-link"> link</a></p>
		<p>creditcard: <a href="/bill/creditcard" class="card-link"> link</a></p>
		<p>debitcard: <a href="/bill/debitcard" class="card-link"> link</a></p>
		<p>queueNumber: <a href="/queue/queueNumber" class="card-link"> link</a></p>
		<p>queueUpdate: <a href="/queue/queueUpdate" class="card-link"> link</a></p>
		<p>doctorConsultation: <a href="/doctorConsultation" class="card-link"> link</a></p>
		<p>collection: <a href="/collection" class="card-link"> link</a></p>
		<p>symptom: <a href="/symptom" class="card-link"> link</a></p>
		<p>symptomanswer: <a href="/symptomanswer" class="card-link"> link</a></p>
		<p>patientinformation: <a href="/patientinformation" class="card-link"> link</a></p>
	</div>
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Our OOADP Project links</p>
		<p>billPayment: <a href="/bill/billPayment" class="card-link"> link</a></p>
		<p>billList: <a href="/bill/billList" class="card-link"> link</a></p>
		<p>creditcard: <a href="/bill/creditcard" class="card-link"> link</a></p>
		<p>debitcard: <a href="/bill/debitcard" class="card-link"> link</a></p>
		<p>queueNumber: <a href="/queue/queueNumber" class="card-link"> link</a></p>
		<p>queueUpdate: <a href="/queue/queueUpdate" class="card-link"> link</a></p>
		<p>doctorConsultation: <a href="/doctorConsultation" class="card-link"> link</a></p>
		<p>collection: <a href="/collection" class="card-link"> link</a></p>
		<p>symptom: <a href="/symptom" class="card-link"> link</a></p>
		<p>symptomanswer: <a href="/symptomanswer" class="card-link"> link</a></p>
		<p>patientinformation: <a href="/patientinformation" class="card-link"> link</a></p>
	</div>
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Our OOADP Project links</p>
		<p>billPayment: <a href="/bill/billPayment" class="card-link"> link</a></p>
		<p>billList: <a href="/bill/billList" class="card-link"> link</a></p>
		<p>creditcard: <a href="/bill/creditcard" class="card-link"> link</a></p>
		<p>debitcard: <a href="/bill/debitcard" class="card-link"> link</a></p>
		<p>queueNumber: <a href="/queue/queueNumber" class="card-link"> link</a></p>
		<p>queueUpdate: <a href="/queue/queueUpdate" class="card-link"> link</a></p>
		<p>doctorConsultation: <a href="/doctorConsultation" class="card-link"> link</a></p>
		<p>collection: <a href="/collection" class="card-link"> link</a></p>
		<p>symptom: <a href="/symptom" class="card-link"> link</a></p>
		<p>symptomanswer: <a href="/symptomanswer" class="card-link"> link</a></p>
		<p>patientinformation: <a href="/patientinformation" class="card-link"> link</a></p>
	</div>
	<br>
</div>