<form action="/loginaction" method="post">
    Email: <input type="text" name="email" placeholder="First name"><br>
    first name: <input type="text" name="firstName"><br>
    last name: <input type="text" name="lastName"><br>
    date of birth: <input type="text" name="date of birth"><br>
    sex: <input type="text" name="sex"><br>
    ethnicity: <input type="text" name="ethnicity"><br>
    height: <input type="text" name="height"><br>
    weight: <input type="text" name="weight"><br>
    country: <input type="text" name="country"><br>
    identificationNumber: <input type="text" name="identificationNumber"><br>
    address: <input type="text" name="address"><br>
    postalCode: <input type="text" name="postalCode"><br>
    mobileNumber: <input type="text" name="mobileNumber"><br>
    <br>
    Password: <input type="text" name="password"><br>
    Confirm password: <input type="text" name="cfmpassword"><br>

    <input type="submit" value="Submit">
</form>