<div class="container text-center push-down">

    <div class="shadow p-3 mb-5 bg-white rounded col-lg-6 mx-auto">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/signIn">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Sign Up</a>
            </li>
        </ul>
        <h2>Creating an account</h2>
        <p><small class="text-muted">Already have an account with us? Click on the Sign Up tab</small></p>

        <form action="/signUpAction" method="post">
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" name="inputEmail">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                    name="inputPassword" minlength="6">
            </div>
            <div class="form-group">
                <label for="inputConfirmPassword">Confirm password</label>
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password"
                    name="inputConfirmPassword" minlength="6">
            </div>
            <button type="submit" class="btn btn-primary">Create an account</button>
        </form>
    </div>

</div>