.no-list-style {
    list-style: none;
}

.push-down{
    padding-top: 70px;
}

.disable {
    pointer-events: none;
    cursor: default;
}

/* To account for fixed-top navbar*/
body {
    padding-top: 70px;
}