.no-list-style {
    list-style: none;
}

.push-down{
    padding-top: 70px;
}

.disable {
    pointer-events: none;
    cursor: default;
}
.background-white {
    background-color: #FFFFFF ;
}
.icon-profile{
    width:100px;
}
.icon-standard{
    width:75px;
}
/* To account for fixed-top navbar*/
body {
    padding-top: 57px;
    background-color: #fff7f0;
}