<link rel="stylesheet" href="/css/symptomchecker.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
    <div class="form">
        <form>
            <label>Type what question you want to insert</label><br>
            <input type="text" name="symptomquestioninsert" placeholder="Type the question here"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{{#if result}}
{{#each result}}
<div class="container">
    <p>{{question}}</p>
</div>
{{/each}}
{{/if}}