<link rel="stylesheet" href="/css/symptomchecker.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
    <div class="form">
        <form action="/symptom/symptomInsert" method="POST" class="formInformation">
            <label>Type what question you want to insert</label><br>
            <input type="text" name="symptomquestioninsert" placeholder="Type the question here"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{{#if result}}
{{#each result}}
<div class="container">
    <div class="form">
        <div class="inline">
            <form action="/symptom/symptomDestroy/{{this.id}}" method="POST">
                <input type="submit" value="Delete">   
            </form>
            <form action="/symptom/symptomEdit" method="POST">
                <input type="submit" value="Edit">
            </form>
        </div>  
        <p>{{question}}</p>
    </div>
</div>
{{/each}}
{{/if}}